streamlit>=1.30,<2
python-dotenv>=1.0,<2
langchain-core>=0.2,<0.3
langchain-community>=0.2,<0.3
langchain-text-splitters>=0.2,<0.3
langchain-huggingface>=0.0.3
langchain-groq>=0.1.0
sentence-transformers>=2.7,<4
faiss-cpu>=1.7,<2
unstructured>=0.14,<1
markdown>=3.5,<4
pypdf>=4.0,<5
